################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ray-Tracing-In-A-Weekend/v16/Browse.VC.opendb
